#!/bin/bash

# Laravel
# -----------------------------------------------------------------------------

alias artisan='php artisan'
alias sail='bash vendor/bin/sail'


# PHP Code Sniffer
# -----------------------------------------------------------------------------

alias phpcs-sniff='phpcs --standard=PSR2 --ignore=.git/*,tests/*,vendor/*,public/*,*.blade.php,node_modules/*,migrations/,seeds/,bootstrap/*'
alias phpcs-fix='phpcbf --standard=PSR2 --ignore=.git/*,tests/*,vendor/*,public/*,*.blade.php,node_modules/*,migrations/,seeds/,bootstrap/*'


# MySQL Slow Query
# -----------------------------------------------------------------------------

alias slow-query-digest='pt-query-digest /var/log/mysql/slow-query.log'
alias slow-query-index='pt-index-usage /var/log/mysql/slow-query.log --user=demo --password=demo'
alias slow-query-popular='mysqldumpslow -a -s c -t 5 /var/log/mysql/slow-query.log'


# Monitor Functions
# -----------------------------------------------------------------------------

alias monitor-laptop='xrandr --output eDP-1-1 --auto'
