#!/bin/bash

# SYSTEM
# -----------------------------------------------------------------------------

update () {
    sudo apt update
    sudo apt upgrade
    sudo apt autoclean
    sudo apt autoremove
    sudo snap refresh
}


# LAMP
# -----------------------------------------------------------------------------


localhost-restart () {
    echo "Restarting MySQL"
    sudo service mysql stop
    sudo service mysql start

    echo "Restarting Apache"
    sudo service apache2 stop
    sudo service apache2 start
}


# PHP
# -----------------------------------------------------------------------------

unit() {
    FILE="$PWD/vendor/bin/phpunit"
    if [ -x "$FILE" ]; then
        $FILE $@
    else
        phpunit $@
    fi
}


phpswap () {
    if [[ -z "$1" ]];  then
        echo "You did not specify a version (7.0, 7.4, 8.0)"
    elif [[ "$1" == "7.0" ]]; then
        echo "Changing to PHP 7.0"
        sudo ln -sf /usr/bin/php7.0 /etc/alternatives/php
        sudo a2dismod php8.0
        sudo a2dismod php7.4
        sudo a2enmod php7.0
        sudo systemctl restart apache2
    elif [[ "$1" == "7.4" ]]; then
        echo "Changing to PHP 7.4"
        sudo ln -sf /usr/bin/php7.4 /etc/alternatives/php
        sudo a2dismod php8.0
        sudo a2dismod php7.0
        sudo a2enmod php7.4
        sudo systemctl restart apache2
    elif [[ "$1" == "8.0" ]]; then
        echo "Changing to PHP 8.0"
        sudo ln -sf /usr/bin/php8.0 /etc/alternatives/php
        sudo a2dismod php7.4
        sudo a2dismod php7.0
        sudo a2enmod php8.0
        sudo systemctl restart apache2
    else
        echo "You did not specify a version (7.0, 7.4, 8.0)"
    fi
}


# CLEANUP TOOLS
# -----------------------------------------------------------------------------

cleanup () {
    local DIRECTORY=${1:-"."}

    echo "Cleaning up .DS_Store files"
    find $DIRECTORY -name '*.DS_Store' -type f -ls -delete
    echo "Cleaning up .fuse_hidden files"
    find $DIRECTORY -name '.fuse_hidden*' -type f -ls -delete
}


# BACKUP TOOLS
# -----------------------------------------------------------------------------

download_media () {
    rsync -ravzP "$1"@sa:~/project/website/public/media public
}

download_snippets () {
    rsync -ravzP "$1"@sa:~/project/website/app/views/snippet app/views
}

