#!/bin/bash

# LAMP
# -----------------------------------------------------------------------------


localhost-restart () {
    echo "Restarting MySQL"
    sudo service mysql stop
    sudo service mysql start

    echo "Restarting Apache"
    sudo service apache2 stop
    sudo service apache2 start
}


# PHP
# -----------------------------------------------------------------------------

phpswap () {
    if [[ -z "$1" ]];  then
        echo "You did not specify a version (5.6, 7.0, 7.2)"
    elif [[ "$1" == "5.6" ]]; then
        echo "Changing to PHP 5.6"
        sudo ln -sf /usr/bin/php5.6 /etc/alternatives/php
        sudo a2dismod php7.0
        sudo a2dismod php7.2
        sudo a2enmod php5.6
        sudo systemctl restart apache2
    elif [[ "$1" == "7.0" ]]; then
        echo "Changing to PHP 7.0"
        sudo ln -sf /usr/bin/php7.0 /etc/alternatives/php
        sudo a2dismod php5.6
        sudo a2dismod php7.2
        sudo a2enmod php7.0
        sudo systemctl restart apache2
    elif [[ "$1" == "7.2" ]]; then
        echo "Changing to PHP 7.2"
        sudo ln -sf /usr/bin/php7.2 /etc/alternatives/php
        sudo a2dismod php5.6
        sudo a2dismod php7.0
        sudo a2enmod php7.2
        sudo systemctl restart apache2
    else
        echo "You did not specify a version (5.6, 7.0, 7.2)"
    fi
}


# CLEANUP TOOLS
# -----------------------------------------------------------------------------

cleanup () {
    local DIRECTORY=${1:-"."}

    echo "Cleaning up .DS_Store files"
    find $DIRECTORY -name '*.DS_Store' -type f -ls -delete
    echo "Cleaning up .fuse_hidden files"
    find $DIRECTORY -name '.fuse_hidden*' -type f -ls -delete
}


# BACKUP TOOLS
# -----------------------------------------------------------------------------

download_development_media () {
    rsync -ravzP "$1"@development:~/project/website/public/media public
}

download_development_snippets () {
    rsync -ravzP "$1"@development:~/project/website/app/views/snippet app/views
}

download_master_media () {
    rsync -ravzP "$1"@master:~/project/website/public/media public
}

download_master_snippets () {
    rsync -ravzP "$1"@master:~/project/website/app/views/snippet app/views
}
